## Dependencies and Setup

In [1]:
import json
import sqlite3

## Data Connection

In [2]:
# create first database connection
tf_db_1 = sqlite3.connect("treatment_facilities.sqlite", isolation_level=None)

In [3]:
# create second database connection
tf_db_2 = sqlite3.connect("census_data.sqlite", isolation_level=None)

## Queries and Analysis

In [5]:
# pull out all data from second db
# create query to create initial table
tf_cursor_2 = tf_db_2.cursor()
tf_select_statement = "select * from census_data;"
db_2_data = tf_cursor_2.execute(tf_select_statement)

In [7]:
# create second table within the first database
census_data_columns = ["id integer PRIMARY KEY", "City","Median_Age",
                       "Average_Income","Per_Capita_Income",
                       "Number_of_facilities","Total_Population",
                       "Poverty_Count","Location"]

In [8]:
# create column name string to be used in later query
census_data_column_name_string = ','.join(census_data_columns)
census_data_column_name_string

'id integer PRIMARY KEY,City,Median_Age,Average_Income,Per_Capita_Income,Number_of_facilities,Total_Population,Poverty_Count,Location'

In [9]:
# create query to create census_data table
tf_cursor_1 = tf_db_1.cursor()
cd_create_statement = "create table census_data (%s);" % (census_data_column_name_string)
tf_cursor_1.execute(cd_create_statement)

In [36]:
tf_cursor_2 = tf_db_2.cursor()
tf_select_statement = "select * from census_data;"
db_2_data = tf_cursor_2.execute(tf_select_statement)

In [37]:
# insert data from second database into this newly created table
counter = 0
for row in db_2_data:
    tf_current_values = []
    tf_current_values.append("\"" + str(row[0]) + "\"")
    tf_current_values.append("\"" + str(row[1]) + "\"")
    tf_current_values.append("\"" + str(row[2]) + "\"")
    tf_current_values.append("\"" + str(row[3]) + "\"")
    tf_current_values.append("\"" + str(row[4]) + "\"")
    tf_current_values.append("\"" + str(row[5]) + "\"")
    tf_current_values.append("\"" + str(row[6]) + "\"")
    tf_current_values.append("\"" + str(row[7]) + "\"")
    tf_current_values.append("\"" + str(row[8]) + "\"")
    tf_current_values_string = ",".join(tf_current_values)
    tf_current_execute_statement = ("insert into census_data values (%s);"
                                % (tf_current_values_string))
    tf_cursor_1.execute(tf_current_execute_statement)