### Dependencies and Setup

In [1]:
import json
import sqlite3

### Data Load

In [2]:
# load in the json file for the treatment facilities
census_data_json = json.load(open("Outputs/census_data.js"))

### SQLite File Creation

In [3]:
# create database connection
tf_db = sqlite3.connect("census_data.sqlite", isolation_level=None)

In [4]:
# get column names to be used in database
tf_columns = ["id integer PRIMARY KEY"]
for key, value in census_data_json[0].items():
    tf_columns.append(key)

In [5]:
# create column name string to be used in later query
tf_column_name_string = ','.join(tf_columns)
tf_column_name_string

'id integer PRIMARY KEY,,City,Median_Age,Average_Income,Per_Capita_Income,Number_of_facilities,Total_Population,Poverty_Count,Location'

In [6]:
# create query to create initial table
tf_cursor = tf_db.cursor()
tf_create_statement = "create table census_data (%s);" % (tf_column_name_string)
tf_cursor.execute(tf_create_statement)

OperationalError: near ",": syntax error

In [ ]:
# loop through the json and insert in values for each entry
counter = 0
for index in census_data_json:
    tf_current_values = [str(counter)]
    for key, value in index.items():
        tf_current_values.append("\"" + str(value) + "\"")
    tf_current_values_string = ",".join(tf_current_values)
    tf_current_execute_statement = ("insert into census_data values (%s);"
                                    % (tf_current_values_string))
    tf_cursor.execute(tf_current_execute_statement)
    counter += 1

In [ ]:
tf_cursor.close()